<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>CCS || ISTE-VIT</title>
    <link rel="icon" type="image/png" href="/img/icon/Iste-icon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1"
    />
    <meta
      name="description"
      content="ISTE-VIT, VIT Vellore, Vellore, Tamil Nadu, India. 632014"
    />
    <meta
      name="keywords"
      content="ISTE, iste, ISTE VIT, ISTE-VIT, vit, VIT, VIT-Vellore, Vit, Iste, Vellore, Student, Chapter, Club, club, CLUB, CHAPTER, chapter, Education, India, Indian, Society, Indian Society For Technical Education"
    />
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="ISTE-VIT" />
    <meta
      property="og:description"
      content="ISTE-VIT. Dare to be different. Dare to be ISTE."
    />
    <meta property="og:url" content="index.html" />
    <meta property="og:site_name" content="ISTE-VIT" />
    <meta
      name="keywords"
      content="ISTE, iste, ISTE VIT, ISTE-VIT, vit, VIT, VIT-Vellore, Vit, Iste, Vellore, Student, Chapter, Club, club, CLUB, CHAPTER, chapter, Education, India, Indian, Society, Indian Society For Technical Education"
    />

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <!-- Bootstrap CSS -->
    <link
      defer
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />

    <link
      href="https://fonts.googleapis.com/css?family=Roboto"
      rel="stylesheet"
    />
    <!-- Stylesheet for Custon CSS -->
    <link rel="stylesheet" href="/css/style.css" />
  </head>

  <body>
    <header id="header"></header>
    <% include ./partials/navbar2 %>

    <br />
    <div class="signup-head mt-3 mx-3" > <span class="und" >I</span>nstructions </div>

    <div
      class="container col-11 col-lg-7 col-md-10 col-sm-10 col-xs-7 p-4 pt-5 inst-container"
    >

      <ul>
        
        <li>
          Make sure that you register on VTOP under the SW section of Events Under ISTE, your test score will not be considered otherwise.
        </li>
        <li>The first section is an aptitude test where you will have to answer 10 questions each of 45 seconds. You will not be allowed to navigate through the questions. </li>
        <li>Upon finishing the aptitude test based on the domain(s) of your choice you will be given questions to answer. These questions don't have any time limit. </li>
        <li>Prefer answering all the subjective questions in points.</li>
        <li>There is no negative marking.</li>
        <li>You can’t go back to the previous question(s).</li>
        <li>
          Set aside sufficient time (preferably 45 mins to 1 hr) for attempting
          the test.
        </li>
        <li>
          You are not allowed to switch tabs or refresh your window while the test is in progress.
        </li>
        <li>
          Upon clicking submit your test, results will be saved and you will not be given another chance to attempt the test.
        </li>
      </ul>
 <br>
      <div class="text-center">
        <button
          type="button"
          class="btn rounded-3"
          onclick="window.location.href='/questions'"
        >
          Start Test
        </button>
      </div>
    </div>

    <div class="hero-inst">
      <img src="/img/notepad_front.png" alt="" srcset="">
    </div>
    

  </body>
</html>
