<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>CCS || ISTE-VIT</title>
  <link rel="icon" type="image/png" href="/img/icon/Iste-icon.ico">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
  <meta name="description" content="ISTE-VIT, VIT Vellore, Vellore, Tamil Nadu, India. 632014" />
  <meta name="keywords"
    content="ISTE, iste, ISTE VIT, ISTE-VIT, vit, VIT, VIT-Vellore, Vit, Iste, Vellore, Student, Chapter, Club, club, CLUB, CHAPTER, chapter, Education, India, Indian, Society, Indian Society For Technical Education">
  <meta property="og:locale" content="en_US" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="ISTE-VIT" />
  <meta property="og:description" content="ISTE-VIT. Dare to be different. Dare to be ISTE." />
  <meta property="og:url" content="index.html" />
  <meta property="og:site_name" content="ISTE-VIT" />
  <meta name="keywords"
    content="ISTE, iste, ISTE VIT, ISTE-VIT, vit, VIT, VIT-Vellore, Vit, Iste, Vellore, Student, Chapter, Club, club, CLUB, CHAPTER, chapter, Education, India, Indian, Society, Indian Society For Technical Education">


  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script> 
  <link rel="preconnect" href="https://fonts.gstatic.com" />
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/css/style.css" />
<style>
  #navcustom {
display:block !important;
  }

</style>
</head>

<body >
  <% include ./partials/navbar %>
  <div class="signup-head mt-5 mx-3" >  Login </div>

  <div
  class="container  align-content-center justify-content-center col-12 col-lg-6 col-md-10 col-sm-12 px-5 pt-2 pb-5 "
>
 
  <br />

  <form id="signup-form"  method="post" autocomplete="off" action="/users/login"  >
    <% include ./partials/messages %>

    <div class="form-row ">
      <div class="form-column pl-3 pb-2 mt-5 col-md-12 ">
        <div class="form-group fg">

            <label for="email"> VIT Mail ID </label>
            <input type="email" name="email" pattern=".+2021.*@vitstudent.ac.in$" class="form-inp" id="email"
                        >
        </div>
        <div class="form-group fg">
          <label for="name">Password </label>

          <input type="password" name="pass" minlength="6" required class="form-inp" id="password"
                         />
          
        </div>
      </div>
      <div class="form-column text-center mt-5 pt-3 col-lg-10 col-sm-12">
        <button
        type="submit"
        class="btn rounded-3"
      >
        Login
      </button>
      <a
      class="btn rounded-3"
      href="/users/register"
      >
      Sign up
    </a>
      </div>
    </div>
  </form>
</div>
 



  
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
    integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>
  
</body>

</html>