* {
  padding: 0;
  margin: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  font-family: 'Poppins';
  background-image: url("/img/bg.png");

}

.main-heading {
  color: white;
  font-family: 'Poppins';
  font-size: 3.5rem;
  font-style: normal;
  font-weight: 600;

}

.sub-heading {
  margin-top: 40px;
  color: white;
  font-family: 'Poppins';
  font-size: 1.5rem;
  font-style: normal;
  cursor: pointer;
}

.sub-heading span {
  border-radius: 40px;
  padding: 20px 60px;
  border: 2px solid #1571E3;
  
}

.sub-heading span:hover {
  border-radius: 40px;
  padding: 20px 60px;
  border: 2px solid #1571E3;
  color: rgb(255, 255, 255) !important;
      background-color: #1571E3;
}

.hero-1 {
  float: left;
  height: 40px;
  padding: 0px 100px;
  animation-name: hero-float;  
  animation-duration: 4s;        
  animation-iteration-count: infinite; 
}

.hero-2{
  float: right;
  height: 40px;
  padding: 0px 100px;
  animation-name: hero-float;  
  animation-duration: 4s;        
  animation-iteration-count: infinite; 
}

.hero-1 img {
  height: 25rem;
  border-radius: 50%;
  margin-top: -60px;
}

.hero-2 img {
  height: 25rem;
  border-radius: 50%;
  margin-top: -60px;
}

@keyframes hero-float {
  0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(20px);
	}
	100% {
		transform: translatey(0px);
	}
}


@media screen and (max-width: 980px) {
  body {
   overflow-x: hidden;
   overflow-y: scroll;
  }
  .hero-1 {
    float: none;
    overflow-x: hidden;
    text-align: center;
    height: auto;
    margin-left: -50px;
    margin-top: 20px;
    justify-content: center;
    animation-name: hero-float;  
    animation-duration: 4s;        
    animation-iteration-count: infinite; 
  }

  .hero-2{
    display: none;
  }

  .hero-1 img {
    height: 20rem;
    border-radius: 50%;
    margin-top: auto;
  }
  .hero-2 img {
    display: none;
  }

  .main-heading {
    margin-top: 20vh;
    font-size: 2.5rem;
  }

  .sub-heading {
    margin-top: 60px;
    font-size: 1.2rem;
  }
}

.und {
  border-bottom: #1571E3 solid 8px;  
}

.nav-act{
  font-weight: 700;
  border-bottom: #1571E3 solid 2px;
  padding: 0px 3px;
}