@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  font-family: 'Poppins';
  background: radial-gradient(104.93% 104.93% at 48.51% 102.83%, #151515 0%, #000000 100%);
  background-size: cover;
  background-repeat: no-repeat;

}


.ques_number {
  color: #ffffff;
  padding: 1%;
  padding-left: 5%;
  padding-top: 5%;
}

.question {
  display: inline;
  font-size: 2rem;
  font-weight: bold;
  color: white;
}

.timer_sec {
  display: inline-block;
  color: #ffffff;
  border-radius: 1rem;
  font-size: 1.7rem;
  float: right !important;
  padding-right: 5%;
  font-weight: 400;
}

.que_text {
  text-align: center;
  padding-bottom: 2%;
  margin-bottom: 2%;
  color: #ffffff;
  font-size: 1.3rem;
  font-weight: 400;
  padding-left: 5%;
  padding-right: 5%;
}

.que_text span {
  font-weight: 600;
  display: inline-block;
  color: #ffffff;
  font-size: 1.5rem;
  width: 75%;
  text-align: left;
}

.option {
  width: 72%;
  height: 40px;
  margin-left: 14%;
  margin-bottom: 3%;
}

.option_txt {
  font-weight: 400;
  color: #ffffff;
  margin-top: 8%;
  padding-top: 1%;
  text-align: center;
  font-size: 1.1rem;
  width: 100%;
}
.option_txt.selected {
  color: #39ade6;
  border: 1px solid #ffffff;
}

.option.selected{
    box-shadow: 0px 0px 10px #fff;

}

.option_txt img {
  margin-right: 10px;
}

.option_alph {
  display: inline;
  padding-top: 1%;
  margin-left: 1%;
  color: #39ade6;
  height: 90%;
}

footer {
  margin-top: 4%;
  margin-bottom: 5%;
}

footer button {
  border-radius: 8px;
  border: 1px;
  font-size: 1.3rem !important;
  color: #fff;
}
.end_button {
  background: #fc4e4e !important;

  /* margin-left: 18%; */
}

.next_btn {
  background: #39ade6 !important;
  /* margin-left: 24vw; */
}

/* .option.selected {
  background-color: grey;
} */

.option.disabled {
  pointer-events: none;
}

.result_box {
  box-shadow: 0px 5px 36px #00000029;

  background-color: #fff;
  border-bottom: 10px solid #40c0ff;
}

@media only screen and (max-width: 730px) {
  .option_txt {
    font-size: 0.8rem;
  }
  .timer_sec {
    font-size: 1.5rem;
  }

  .question {
    font-size: 1.8rem;
  }

  .que_text span {
    font-size: 1.1rem;
  }

  .option_txt {
    font-size: 1.2rem;
  }
}

@media only screen and (max-width: 630px) {
  .que_text {
    font-size: 1rem;
  }
  footer button {
    font-size: 1rem !important;
  }
}

@media only screen and (max-width: 500px) {
  .timer_sec {
    font-size: 1.3rem;
  }

  .question {
    font-size: 1.6rem;
  }

  .que_text span {
    font-size: 0.9rem;
  }

  .option_txt {
    font-size: 1rem;
  }
  footer button {
    font-size: 1rem !important;
  }
}

@media only screen and (max-width: 400px) {
  .timer_sec {
    font-size: 1rem;
  }
  .ques_number {
    padding-top: 6%;
  }
  .question {
    font-size: 1.3rem;
  }

  .que_text span {
    font-size: 0.8rem;
  }

  .option_txt {
    font-size: 0.8rem;
  }

  footer button {
    font-size: 0.8rem !important;
  }
}

.boxsizingBorder {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  background: transparent;
  border: 1px solid #fff;
  color: white;
  padding: 10px;
}

.boxsizingBorder:focus {
  outline: none;
}

.loader {
  position: relative;
  text-align: center;
  margin: 15px auto 35px auto;
  z-index: 9999;
  display: block;
  width: 80px;
  height: 80px;
  border: 10px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  border-top-color: #39ade6;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
.tottime{
  float: right;
  margin-right: 5%;
  color: #fff;
  font-size: 1.2rem;
}

.hero-que {
  float: right;
  padding: 0px 100px;
  animation-name: hero-float2;  
  animation-duration: 4s;        
  animation-iteration-count: infinite; 
}

@keyframes hero-float2 {
  0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}

.hero-que img {
  height: 20rem;
  border-radius: 50%;
  margin-top: -280px;
  margin-left: -40px;
  overflow-y: hidden;
}

@media screen and (max-width: 768px) {
  .hero-que {
    float: none;
  }

  .hero-que img {
    height: 15rem;
    border-radius: 50%;
    margin-top: auto;
    padding-right: 40px;
    overflow-y: hidden;
  }
  
}