<nav class="navbar navbar-dark bg-dark shadow-lg">
  <!-- <div class="container-fluid"> -->
  <div class="navbar-left ml-md-3  mb-0">
    <a href="https://www.istevit.in" target="_blank">
      <img id="logo" width="80%" src="./assets/img/main_logo.png" />
    </a>
  </div>
   <div class="navbar-right">
      <a class="mr-4"  id="navcustom" href="./about.html" style="color:white !important; display: none ;text-decoration: none; ">About Us
      </a> 
    </div> 
  <!-- </div> -->
</nav>

<style>
  .navbar {
    border-bottom: 8px solid #40c0ff;
    padding-bottom: 10px;
  }
  
</style>
